<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

</head>
<body>
	<div layout:fragment="header_container">
		<header>
			<ul>
				<li><a href="default.asp">Home</a></li>
				<li><a href="news.asp">News</a></li>
				<li><a href="contact.asp">Contact</a></li>
				<li><a href="about.asp">About</a></li>
			</ul>
		</header>
	</div>
	<div layout:fragment="main_container">
		<div id="layout">
			<section id="menu">
				<div>
					<ul>
						<li><a><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</section>
			<section id="searchBox">
				<form class="form-horizontal">
					<div class="input-group">
						<input id="msg" type="text" class="form-control" name="msg"
							placeholder="Tìm kiếm"></input> <input type="submit"
							value="Tìm" class="btn btn-success"></input>
					</div>
				</form>
			</section>
			<section id="nav">
				<div>
					<ul>
						<li><a href="https://www.google.com/imghp" title="Website"><i
								class="fa fa-globe" aria-hidden="true"></i></a></li>
						<li><a href="https://www.youtube.com" title="Youtube"><i
								class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a href="map.html" title="Maps"><i class="fa fa-map"
								aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div layout:fragment="footer_container">
		<footer>
			<ul>
				<li><a href="">Technologies</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Terms of Service</a></li>
				<li><a href="">Contact us</a></li>
				<li><a href="">© Yandex</a></li>
			</ul>
		</footer>
	</div>
	<div layout:fragment="custom_js"></div>
</body>
</html>